In [2]:
import pandas as pd
import numpy as np

def data_ingestion(file_path):
    """Ingest data from a CSV file into a pandas DataFrame."""
    try:
        df = pd.read_csv(file_path)
        print("Data ingestion successful.")
        return df
    except Exception as e:
        print(f"Error during data ingestion: {e}")
        return None

In [3]:
data_ingestion("data/player_data.csv")

Data ingestion successful.

        player  rating
0       USA_p1     3.0
1       USA_p2     3.0
2       USA_p3     3.5
3       USA_p4     0.0
4       USA_p5     2.0
..         ...     ...
139   Chile_p8     2.0
140   Chile_p9     0.5
141  Chile_p10     0.5
142  Chile_p11     0.0
143  Chile_p12     1.0

[144 rows x 2 columns]

In [4]:
data_ingestion("data/stint_data.csv")

Data ingestion successful.

,game_id,h_team,a_team,minutes,h_goals,a_goals,home1,home2,home3,home4,away1,away2,away3,away4
0,1,USA,Japan,4.252969,4,9,USA_p4,USA_p1,USA_p3,USA_p6,Japan_p12,Japan_p4,Japan_p8,Japan_p6
1,1,USA,Japan,5.688809,6,11,USA_p1,USA_p7,USA_p6,USA_p5,Japan_p7,Japan_p10,Japan_p8,Japan_p12
2,1,USA,Japan,1.149557,0,1,USA_p8,USA_p1,USA_p4,USA_p5,Japan_p5,Japan_p3,Japan_p7,Japan_p10
3,1,USA,Japan,3.511617,7,5,USA_p2,USA_p7,USA_p8,USA_p6,Japan_p2,Japan_p4,Japan_p10,Japan_p12
4,1,USA,Japan,2.163139,7,5,USA_p9,USA_p5,USA_p8,USA_p7,Japan_p8,Japan_p6,Japan_p10,Japan_p1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7443,660,Chile,Argentina,2.583097,6,2,Chile_p1,Chile_p7,Chile_p12,Chile_p2,Argentina_p12,Argentina_p10,Argentina_p2,Argentina_p1
7444,660,Chile,Argentina,1.039052,4,3,Chile_p8,Chile_p2,Chile_p5,Chile_p12,Argentina_p10,Argentina_p6,Argentina_p11,Argentina_p3
7445,660,Chile,Argentina,1.599023,3,0,Chile_p5,Chile_p7,Chile_p4,Chile_p1,Argentina_p4,Argentina_p2,Argentina_p1,Argentina_p3
7446,660,Chile,Argentina,3.841087,6,13,Chile_p8,Chile_p6,Chile_p2,Chile_p11,Argentina_p3,Argentina_p9,Argentina_p10,Argentina_p8
7447,660,Chile,Argentina,2.200405,5,2,Chile_p8,Chile_p11,Chile_p2,Chile_p4,Argentina_p6,Argentina_p5,Argentina_p12,Argentina_p4